@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;

  @apply text-white;

  nav {
    background-color: rgb(51, 51, 51);
  }

  .sketch {
    width: 100vw;
    height: 100vh;
  }

  .button {
    @apply focus:outline-none rounded-md px-2;
  }

  .play-button {
    @apply hover:bg-green-200 hover:text-green-600;
  }

  .stop-button {
    @apply hover:bg-red-200 hover:text-red-600;
  }

  .github-button {
    @apply hover:bg-gray-200 hover:text-black;
  }
}
